<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        </div>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="Description">Description</a>
        <a class="item" data-tab="Tests">Tests</a>
        <a class="item" data-tab="Misfortunes">Misfortunes</a>
        <a class="item" data-tab="Complications">Complications</a>
    </nav>

    <section class="sheet-body">
        <div class="tab charact" data-group="primary" data-tab="Description">
            
            {{editor content=data.info target="data.info" button=true owner=owner editable=editable}}</div>

        </div>
        <div class="tab charact" data-group="primary" data-tab="Tests">
            <div class="nte items-list">
                <div class="header " style="text-align: right;">
                    <a class="item-create" data-type="test" style=" font-weight: bold;">+Add</a>
                </div>
             {{#each tests as |test index|}}

                <li class="item flexrow" data-item-id="{{test._id}}">
                    <div class="item-image"><img src="{{test.img}}" title="{{test.name}}" width="24"
                            height="24" />
                    </div>
                    <h4 class="item-name" style="font-weight: bold;">{{test.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                
                {{/each}}
            </div>
        </div>
           <div class="tab charact" data-group="primary" data-tab="Misfortunes">
               <div class="nte items-list">
                <div class="header " style="text-align: right;">
                    <a class="item-create" data-type="misfortune" style=" font-weight: bold;">+Add</a>
                </div>
             {{#each misfortunes as |misfortune index|}}

                <li class="item flexrow" data-item-id="{{misfortune._id}}">
                    <div class="item-image"><img src="{{misfortune.img}}" title="{{misfortune.name}}" width="24"
                            height="24" />
                    </div>
                    <h4 class="item-name" style="font-weight: bold;">{{misfortune.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                
                {{/each}}
            </div>
        </div>
        <div class="tab charact" data-group="primary" data-tab="Complications">
            <div class="nte items-list">
                <div class="header " style="text-align: right;">
                    <a class="item-create" data-type="complication" style=" font-weight: bold;">+Add</a>
                </div>
             {{#each complications as |complication index|}}

                <li class="item flexrow" data-item-id="{{complication._id}}">
                    <div class="item-image"><img src="{{complication.img}}" title="{{complication.name}}" width="24"
                            height="24" />
                    </div>
                    <h4 class="item-name" style="font-weight: bold;">{{complication.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </div>
        </div>
    </section>

</form>

</form>