<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>
    <div class="flex-group-center">
    <div>
        <div>
            <label style="font-weight: bold;" for="Type">Misfortune type: </label>
            <input type="text" name="data.misType" id="Type" value="{{data.misType}}"   style ="max-width: 45%;"/>
        </div>
    </div>
    <br>
    <div>
        
            <label style="font-weight: bold;" for="Tokens">Tokens: </label>
            <input type="number" id = "Tokens" name='data.tokens' value="{{data.tokens}}" style ="max-width: 10%;" />
        </div>
    </div>
    </div>
</form>